
<section class="s-pt-50 s-pb-100 s-pt-lg-30 s-pb-lg-75 ls ms teaser-contact-icon main-icon s-parallax" id="contact">
    <div class="corner corner-inverse"></div>
    <div class="text-center img-wrap col-md-12">
        <img src="img/dark_line_short.png" alt="">
    </div>
    <div class="container">
        <div class="divider-10 d-none d-xl-block"></div>
        <div class="row c-mb-50 c-mb-lg-0">
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="images/icon1.png" alt="Photo">
                    </div>
                </div>
                <h6>
                    Звоните нам
                </h6>
                <p>
                    <strong>Для создание нового аккаунта:</strong> {{contacts.tel_nums_newacc}}
                    <br>
                    <strong>Служба поддержки:</strong> {{contacts.tel_nums_support}}
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="images/icon3.png" alt="Photo">
                    </div>
                </div>
                <h6>
                    Напишите нам
                </h6>
                <p>
                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="22475a434f524e4762475a434f524e470c414d4f">{{contacts.first_email}}</a>
                    <br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ec89948d819c8089ac89948d819c8089c28f8381">{{contacts.second_email}}</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="border-icon">
                    <div class="teaser-icon">
                        <img src="images/icon2.png" alt="Photo">
                    </div>
                </div>
                <h6>
                    Приходите нам
                </h6>
                <p>
                    {{contacts.adress}}
                </p>
            </div>
        </div>
        <div class="divider-30 d-none d-lg-block"></div>
        <div class="text-center img-wrap col-md-12 layout-2">
            <img src="img/dark_line_short.png" alt="">
        </div>
    </div>
    <div class="divider-10"></div>
</section>
