
<section class="s-pt-30 s-pt-lg-50 s-pt-xl-25 ls about-home" id="about">
    <div class="divider-5 d-none d-xl-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="main-content text-center">
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h5>
                        {{block1.about}}
                    </h5>
                    <p>
                        {{block1.sentences1}}
                        <strong>{{block1.feachered}}</strong> {{block1.sentences2}}
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                    </div>
                    <div>
                        <div class="divider-40"></div>
                        <button type="button" class="btn btn-outline-maincolor">Начать</button>
                        <div class="divider-40"></div>
                    </div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                    </div>
                    <div class="divider-10 d-none d-xl-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider-10 d-block d-sm-none"></div>
</section>
