
<section class="ls ms book-item s-pb-30 s-pb-lg-25">
    <div class="corner corner-light"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-block text-center">
                    <div class="btn-book-section overflow-visible">
                        <a href="#" class="btn btn-maincolor">Get Started</a>
                    </div>
                    <div class="img-wrap text-center">
                        <img src="img/vertical_line.png" alt="">
                        <div class="divider-35"></div>
                    </div>
                    <h5>
                        {{adverts.name}}
                    </h5>
                    <p>
                        {{adverts.desc}}
                    </p>
                    <div class="divider-30"></div>
                    <div class="img-wrap text-center">
                        <img src="" alt="Photo">
                    </div>
                </div>
            </div>
            <div class="divider-40"></div>
            <div class="row c-gutter-30 c-mb-30 c-mb-lg-0 text-center book">
                <div class="col-12 col-lg-4">
                    <div class="stage book-1 ls">
                        <img src="images/book-1.png" alt="Photo">
                        <div class="info">
                            <header>
                                <h6>
                                    <a href="#">Annual Report
                                        <br>2017-2018</a>
                                </h6>
                            </header>
                            <p>
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                            </p>
                            <p class="small-text link-a">
                                <a href="#">Купить</a>
                            </p>
                        </div>
                    </div>
                </div>
            <div class="divider-30"></div>
            <div class="text-center img-wrap col-md-12">
                <div>
                    <img src="img/vertical_line.png" alt="">
                </div>
                <div class="divider-40"></div>
                <a href="#" class="btn btn-outline-maincolor">Get Started</a>
                <div class="divider-40"></div>
                <div>
                    <img src="img/vertical_line.png" alt="">
                </div>
            </div>
        </div>
        <div class="divider-10"></div>
    </div>
</section>
